.formControl{ 
    width: 80%;
    margin-top: 30px !important; 
    margin-bottom: 30px !important;  
}  
@media only screen and (max-width: 700px) {  
    .formControl{  
      width: 100%;  
    }  
  }  