/* styles for the cards that display the confirmed, active, recovered, and deaths data */

.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

/* STYLE ME PLEASE! */
/* .confirmed {
    
}
.active {
    
}
.recovered {
    
}
.deaths {
    
} */