.container{  
    display: flex;  
    justify-content: center;  
    width: 40%;  
}   

.maingraph {
    justify-content: left;  
    width: 20%; 
}

.secondarygraph {
    justify-content: right;  
    width: 20%; 
}
  
  
@media only screen and (max-width: 770px) {  
    .container{  
      width: 100%;  
    }  
  }  