body {
    background-color: #555;
    background-image: linear-gradient(rgb(243, 130, 130), rgb(248, 209, 209));
    font-family: sans-serif;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container img{
    display: flex;
    width: 50%;
    height: 50%;
}

::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

@media only screen and (max-width: 770px){
    .container{
        margin: 2% 0 !important;
    }
}